<div class="box">
    <h2>Browse Answers</h2>
    <table id="answers-table">
        {{> browse_header}}
        <tbody>
            {{#each data}}
            <tr row-id={{this.answerID}}>
                <td>{{#if this.answerID}}{{this.answerID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.answerText includeZero=true}}{{this.answerText}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.questionText includeZero=true}}{{this.questionText}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.correctness includeZero=true}}{{this.correctness}}{{else}}0{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="box">
    <h2>Insert Answer<h2>
    <form id="insert-answer-form-ajax" class="form-example">
        <div class="form-example">
            <label for="input-questionID">Question Text:</label>
            <select name="input-questionID" id="input-questionID">
                {{#each questionTexts}}
                    <option value="{{this.questionID}}">{{this.questionText}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-example">
            <label for="correctness">Correctness:</label>

            <select name="correctness" id="input-correctness">
                <option value="0">0 (Not correct)</option>
                <option value="1">1 (Correct)</option>
            </select>
        </div>
        <div class="textarea-input">
            <label for="text">Answer text: </label>
            <textarea name="text" id="input-answerText" required></textarea>
        </div>
        
        <input type="submit" value="Insert Answer" />
    </form>
    <script src="/js/insert-answer.js" defer></script>
</div>
