<div>
    <h2>Browse Game_Rounds</h2>
    <table id="game-rounds-table">
        {{> browse_header button=true}}
        <tbody>
            {{#each data}}
            <tr row-id={{this.roundID}}>
                <td>{{#if this.roundID}}{{this.roundID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.username}}{{this.username}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.score includeZero=true}}{{this.score}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.time}}{{this.time}}{{else}}NULL{{/if}}</td>
                <td><button onclick="deleteRound({{this.roundID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>
    <script src="/js/delete_round.js" defer></script>
</div>

<div class="box">
    <h2>Insert Game_Round</h2>
    <form id="insert-game-round-form-ajax" class="form-example">
        <div>
            <label for="input-userID">Username: </label>
            <select name="input-userID" id="input-userID">
                <option value="">Select a username</option>
                {{#each usernames}}
                <option value="{{this.userID}}">{{this.username}}</option>
                {{/each}}
            </select>
        </div>
        
        <div>
            <label for="input-score">Score: </label>
            <input type="text" name="input-score" id="input-score">
        </div>

        <div>
            <label for="input-time">Time (hh:mm:ss): </label>
            <input type="text" name="input-time" id="input-time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}">
        </div>

        <input type="submit">
    </form>

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script type="text/javascript" src="/js/insert_game_round.js"></script>
</div>

<div class="box">
    <h2>Update Game_Round</h2>
    <form action="" method="get" class="form-example">
        <div>
            <label for="user">Round ID: </label><select name="roundID" required>
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div>
            <label for="user">Username: </label><select name="user" required>
                <option selected>None</option>
                <option>Rob_Hess</option>
                <option>Annette_Tongsak</option>
                <option>Oria_Weng</option>
                <option>Deepti_Ravidath</option>
                <option>Jon</option>
            </select>
        </div>
        <div><label for="score">Score: </label><input type="number" name="score" min="0"></div>
        <div><label for="time">Time (hh:mm:ss): </label><input type="text" name="time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"></div>
        <div>
            <fieldset required>
                <legend>Questions:</legend>
                    <div><input type="checkbox" id="q1" name="q1" /><label for="q1">How have you dealt with a team member not pulling their weight in the past?</label></div>
                    <div><input type="checkbox" id="q2" name="q2" /><label for="q2">Describe a time when you faced a tight deadline or a high-pressure situation. How did you handle the stress, and what was the outcome?</label></div>
                    <div><input type="checkbox" id="q3" name="q3" /><label for="q3">Consider two sorting algorithms: Algorithm A with a time complexity of O(n log n) and Algorithm B with a time complexity of O(n^2). Under what conditions might you choose Algorithm B over Algorithm A?</label></div>
            </fieldset>
        </div>
        <input type="submit">
    </form>
</div>

