<div>
    <h2>Browse Game_Rounds</h2>
    <table id="game-rounds-table">
        {{> browse_header button=true}}
        <tbody>
            {{#each data}}
            <tr row-id={{this.roundID}}>
                <td>{{#if this.roundID}}{{this.roundID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.username}}{{this.username}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.score includeZero=true}}{{this.score}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.time}}{{this.time}}{{else}}NULL{{/if}}</td>
                <td><button onclick="deleteRound({{this.roundID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>
    <script src="/js/delete_round.js" defer></script>
</div>

<div class="box">
    <h2>Insert Game_Round</h2>
    <form id="insert-game-round-form-ajax" class="form-example">
        <div>
            <label for="input-userID">Username: </label>
            <select name="input-userID" id="input-userID">
                <option value="">None</option>
                {{#each usernames}}
                <option value="{{this.userID}}">{{this.username}}</option>
                {{/each}}
            </select>
        </div>

        <div>
            <label for="input-score">Score (non-negative): </label>
            <input type="number" name="input-score" id="input-score" min="0">
        </div>

        <div>
            <label for="input-time">Time: </label>
            <div id="input-time">
                <input type="number" id="input-hours" class="input-time-field" placeholder="hh" min="0" max="838"></input>
                :
                <input type="number" id="input-mins" class="input-time-field" placeholder="mm" min="0" max="59"></input>
                :
                <input type="number" id="input-sec" class="input-time-field" placeholder="ss" min="0" max="59"></input>
            </div>
        </div>

        <input type="submit">
    </form>

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script type="text/javascript" src="/js/insert_game_round.js"></script>
</div>

<div class="box">
    <h2>Update Game_Round</h2>
    <form id="update-round-form">
        <div>
            <label for="round-id-update-select">Round ID: </label>
            <select id="round-id-update-select" name="round-id-update-select" required>
                {{#each data}}
                    <option value="{{this.roundID}}">{{this.roundID}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label for="round-username-select">Username: </label>
            <select id="round-username-select" name="round-username-select" required>
                <option value="None">None</option>
                {{#each usernames}}
                    <option value="{{this.userID}}">{{this.username}}</option>
                {{/each}}
            </select>
        </div>
        <div><label for="round-score-input">Score (non-negative): </label><input type="number" name="round-score-input" id="round-score-input" min="0"></div>
        <div>
            <label for="round-time-input">Time: </label>
            <div id="round-time-input">
                <input type="number" id="round-input-hours" class="input-time-field" placeholder="hh" min="0" max="838"></input>
                :
                <input type="number" id="round-input-mins" class="input-time-field" placeholder="mm" min="0" max="59"></input>
                :
                <input type="number" id="round-input-sec" class="input-time-field" placeholder="ss" min="0" max="59"></input>
            </div>
        </div>
        <input type="submit">
    </form>
    <script src="./js/update_round.js" defer></script>
</div>
