<!DOCTYPE html>
<html>
    <head>
        <title>DevDynasty Question Stats - Question_Types</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Question_Types</h1>
        <nav>[ <a href="Users.html">Users</a> | <a href="Questions.html">Questions</a> | <a href="answers.html">Answers</a> | <a href="question_types.html">Question_Types</a> | <a href="Game_Rounds.html">Game_Rounds</a> | <a href="rounds_questions.html">Rounds_Questions</a> ]</nav>
        <div class="box">
            <h2>Browse Question_Types</h2>
            {{!-- Create a table --}}
            <table>

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each data}}
                    <tr>
                        <td>{{#if this.typeID}}{{this.typeID}}{{else}}NULL{{/if}}</td>
                        <td>{{#if this.typeName}}{{this.typeName}}{{else}}NULL{{/if}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="box">
            <h2>Insert Question_Type</h2>
            <form action="" method="get" class="form-example">
                <div class="form-example">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" required />
                </div>
                <div class="form-example">
                <input type="submit" value="Insert Question_Type" />
                </div>
            </form>
        </div>
        
    </body>
</html>