<div class="box">
    <h2>Browse Question_Types</h2>
    <table id="question-types-table">
        {{> browse_header}}
        <tbody>
            {{#each data}}
            <tr type-id={{this.typeID}}>
                <td>{{#if this.typeID}}{{this.typeID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.typeName}}{{this.typeName}}{{else}}NULL{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="box">
    <h2>Insert Question_Type</h2>
    <form id="insert-question-type" class="form-example">
        <div>
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name" required>
        </div>     
        <input type="submit" value="Insert Question_Type" />
    </form>
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script type="text/javascript" src="/js/insert_question_type.js"></script>    
</div>
