<div class="box">
    <h2>Browse Rounds_Questions</h2>
    <table id="rounds_questions-table">
        {{> browse_header button=true}}
        <tbody>
            {{#each data}}
            <tr row-round-id={{this.roundID}} row-question-text="{{this.questionText}}">
                <td>{{#if this.roundID}}{{this.roundID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.questionText}}{{this.questionText}}{{else}}NULL{{/if}}</td>
                <td><button onclick="deleteRoundsQuestion({{this.roundID}}, '{{this.questionText}}')">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>
    <script src="/js/delete_rounds_question.js" defer></script>
</div>

<div class="box">
    <h2>Insert Round_Question</h2>
    <form id="insert-round-question" class="form-example">
        <div class="form-example">
            <label for="insert-roundID">Round ID:</label>
            <select name="insert-roundID" id="insert-roundID">
                {{#each roundDropdown}}
                    <option value="{{this.roundID}}">{{this.roundID}} | {{#if this.username}}{{this.username}}{{else}}NULL{{/if}} | {{#if this.score}}{{this.score}}{{else}}NULL{{/if}} | {{#if this.time}}{{this.time}}{{else}}NULL{{/if}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-example">
            <label for="insert-questionID">Question Text:</label>
            <select name="insert-questionID" id="insert-questionID">
                {{#each questionTexts}}
                    <option value="{{this.questionID}}">{{this.questionText}}</option>
                {{/each}}
            </select>
        </div>
        <input type="submit" value="Insert Rounds_Questions" />
    </form>
    <script src="/js/insert-round-question.js" defer></script>
</div>

<div class="box">
    <h2>Update Round_Question</h2>
    <form id="update-round-question" class="form-example">
        <div class="form-example">
            <label for="input-roundID">Round ID:</label>
            <select name="input-roundID" id="input-roundID">
                {{#each roundUpdateDropdown}}
                    <option value="{{this.roundID}}">{{this.roundID}} | {{#if this.username}}{{this.username}}{{else}}NULL{{/if}} | {{#if this.score}}{{this.score}}{{else}}NULL{{/if}} | {{#if this.time}}{{this.time}}{{else}}NULL{{/if}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-example">
            <label for="input-questionID">Question Text:</label>
            <select name="input-questionID" id="input-questionID">
                {{#each questionTextsUpdateDropdown}}
                    <option value="{{this.questionID}}">{{this.questionText}}</option>
                {{/each}}
            </select>
        </div>
        <br>
        <div class="form-example">
            <label for="roundID-update">Change Round ID:</label>
            <select name="roundID-update" id="roundID-update">
                {{#each roundDropdown}}
                    <option value="{{this.roundID}}">{{this.roundID}} | {{#if this.username}}{{this.username}}{{else}}NULL{{/if}} | {{#if this.score}}{{this.score}}{{else}}NULL{{/if}} | {{#if this.time}}{{this.time}}{{else}}NULL{{/if}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-example">
            <label for="questionID-update">Change Question Text:</label>
            <select name="questionID-update" id="questionID-update">
                {{#each questionTexts}}
                    <option value="{{this.questionID}}">{{this.questionText}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-example">
        <input type="submit" value="Update Rounds_Questions" />
        </div>
    </form>
    <script src="/js/update-round-question.js" defer></script>
</div>
